.customer-list a {
    text-decoration: none !important;
    color:red;
}

.customer-list .card,
.list-product .card {
    margin-bottom: 12px;
}


.fixed-footer {
    position: fixed;bottom: 0;width: 100%;left: 0;z-index: 100;
}
.fixed-footer .card {
    margin-bottom: 0;
}

.action-add, .action-remove { width: 50px;}